@model BusinessPaymentsWebApp.Models.ViewModels.Dashboard

@{
    ViewData["Title"] = "Dashboard";
}

<div class="carousel slide">
    <h2>@ViewData["Title"]</h2>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
</div>
<!-- https://themes.getbootstrap.com/preview/?theme_id=28117 -->
<div class="row">
    <div class="col-xl-5 col-lg-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-success text-center">
                    <div class="panel-heading">
                        <h5>@Html.DisplayNameFor(model => model.TotalClients)</h5>
                        <h3>@Html.DisplayFor(modelItem => modelItem.TotalClients)</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-warning text-center">
                    <div class="panel-heading">
                        <h5>@Html.DisplayNameFor(model => model.TotalCredits)</h5>
                        <h3>@Html.DisplayFor(modelItem => modelItem.TotalCredits)</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-info text-center">
                    <div class="panel-heading">
                        <h5>@Html.DisplayNameFor(model => model.TotalRecovery)</h5>
                        <h3>@Html.DisplayFor(modelItem => modelItem.TotalRecovery)</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-danger text-center">
                    <div class="panel-heading">
                        <h5>@Html.DisplayNameFor(model => model.TotalPedingAmounts)</h5>
                        <h3>@Html.DisplayFor(modelItem => modelItem.TotalPedingAmounts)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
